@model IEnumerable<gestionAlmacen.Models.MClientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo cliente</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-striped table-responsive mt-2" id="ClientesTable">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ID_Cliente)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                    @Html.DisplayFor(modelItem => item.ID_Cliente)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                    <a asp-controller="Clientes"
                       asp-action="Edit"
                       asp-route-id="@item.ID_Cliente"
                       class="btn btn-primary">
                        Editar
                    </a>

                   <a asp-action="Delete"
                   asp-route-id="@item.ID_Cliente"
                   class="btn btn-danger">
                   Eliminar</a>
            </td>

        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#ClientesTable").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'pdf', 'excel'
                ],
                columnDefs: [
                    {
                        target: 4,
                        orderable: false,
                        searchable: false
                    }
                ],
                // language: {
                //     url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json'
                // }
            });
        })
    </script>
}