@model IEnumerable<gestionAlmacen.Models.MProductos>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo producto</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}
<table class="table table-bordered table-striped table-responsive mt-2" id="ProductosTables">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ID_Producto)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Proveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.ID_Producto)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Proveedor)
            </td>
            <td>
                    <a asp-controller="Productos"
                       asp-action="Edit"
                       asp-route-id="@item.ID_Producto"
                       class="btn btn-primary">
                        Editar
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.ID_Producto"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#ProductosTables").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'pdf', 'excel'
                ],
                columnDefs: [
                    {
                        target: 6,
                        orderable: false,
                        searchable: false
                    }
                ],
                // language: {
                //     url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json'
                // }
            });
        })
    </script>
}

