@model IEnumerable<gestionAlmacen.Models.MCategorias>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nuevo categoria</a>
</p>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["message"]
    </div>
}

<table class="table table-bordered table-striped table-responsive mt-2">
    <thead>
        <tr>
           @*  <th>
                @Html.DisplayNameFor(model => model.ID_Categoria)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.ID_Categoria)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <a asp-controller="Categorias"
                       asp-action="Edit"
                       asp-route-id="@item.ID_Categoria"
                       class="btn btn-primary">
                        Editar
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.ID_Categoria"
                       class="btn btn-danger">
                        Eliminar
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
